@using Microsoft.Extensions.Options
@rendermode CustomRenderModes.StandardMode
@inject BreadCrumbService BreadCrumbService
@inject IOptions<ThargaBlazorOptions> Options

<span style="@Style">
    @if (ShowRoot)
    {
        @if (BreadCrumbService.BreadCrumbItems.Any())
        {
            <RadzenBreadCrumbItem Text="@MainTitle" Path="/" />
        }
        else
        {
            <RadzenBreadCrumbItem Text="@MainTitle" />
        }
    }
    @foreach (var item in BreadCrumbService.BreadCrumbItems)
    {
        @if (!string.IsNullOrEmpty(item.Path))
        {
            <RadzenBreadCrumbItem Text="@item.Text" Path="@item.Path" />
        }
        else
        {
            <RadzenBreadCrumbItem Text="@item.Text" />
        }
    }
</span>

@code {

    [Parameter]
    public bool ShowRoot { get; set; } = false;

    [Parameter]
    public string Style { get; set; }

    private string MainTitle { get; set; } = "Untitled";

    protected override async Task OnInitializedAsync()
    {
        MainTitle = Options?.Value.Title ?? "Home";
        BreadCrumbService.ChangeEvent += async (_, _) => { await InvokeAsync(StateHasChanged); };
        await InvokeAsync(StateHasChanged);
        await base.OnInitializedAsync();
    }
}